{% extends 'template.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if context %}
<h1>{{ context}} context exists</h1>
{% endif %}

<div class="d-flex justify-content-between mb-2">
    <h3>Edit Blog Post</h3>
    <a class="btn btn-danger mx-1" href="{% url 'blog-delete' object.id %}">Delete Post</a>
</div>
<form action="" method="POST" class="w-75">
    {% csrf_token %}
    <fieldset>
        {{ form|crispy }}
    </fieldset>
    <a href="{% url 'blog-home' %}">Cancel</a>
    <button class="btn btn-outline-info" type="submit">submit</button>
</form>

{% endblock content %}
