{% extends 'template.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form action="" method="POST" class="w-75 border p-2">
    {% csrf_token %}
<fieldset>
<legend class="border-bottom">Login</legend>
{{ form|crispy }}
</fieldset>
<div class="border-bottom">
<button type="submit" class="btn btn-outline-info mb-2">Login</button>
</div>
<p class="text-muted">Need an account ? <a href="{% url 'register' %}">Register</a></p>
<p class="text-muted">Forgot password ? <a href="{% url 'password-reset' %}">Reset Password</a></p>
</form>
{% endblock content %}