{% extends 'template.html' %}
{% block content %}
<h1>Profile Page</h1>
<div class="d-flex border w-75 p-2">
    <div class="col-6">
        <img src="{{ user.profile.image.url }}" alt="{{ user.first_name}} {{ user.last_name}}" height="200px"
            class="rounded-circle">
    </div>
    <div class="col-6">
        <p><span class="text-secondary">Name :</span> {{ user.first_name }} {{ user.last_name }}</p>
        <p><span class="text-secondary">Username :</span> {{ user.username }}</p>
        <p><span class="text-secondary">Email :</span> {{ user.email }}</p>
        <p><span class="text-secondary">is Staff :</span> {{ user.is_staff }}</p>
        <p><span class="text-secondary">is Admin :</span> {{ user.is_superuser }}</p>
    </div>

</div>

{% endblock content %}